/* Override */

.app-header {
    background: #52A33E !important;
    border: none !important;
    text-shadow: none !important;
}

.app-header-title {
    color: #fff !important;
    text-decoration: none;
}

.ui-mobile .ui-page {
    background-color: #eee;
    min-height: 100%;
}

/* Main page */
.flickity-page-dots {
  bottom: -20px;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 20px;
  margin: 0;
  border-radius: 0;
}

.gallery img {
  width: 100%;
    min-height: 300px;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-viewport {
    min-height: 300px;
}

.main-page-menu {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.img-slider {
    width: 100%;
}

.box {
	color: #fff;
	font-size: 3vw;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.main-login-btn {
    background: #33cc33 !important;
    color: #eee !important;
    text-shadow: none !important;
    border-radius: 2em;
    margin-top: 20px;
    padding: 10px !important;
}

.main-login-or {
    color: #333 !important;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-signup-btn {
    background: rgba(0,0,0,0) !important;
    color: #33cc33 !important;
    text-shadow: none !important;
    font-weight: 500 !important;
    padding: 10px !important;
    border: 3px solid #33cc33 !important;
    border-radius: 2em;
}

/* Login Page */
.main-login {
    padding-top: 40px;
}

.main-login-form {
    background: rgba(0,0,0,0);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.main-form-logo {
    margin-bottom: 20px !important;
}

.ui-login-input {
    box-shadow: unset;
    background: none;
    border-bottom: 1px solid #33cc33 !important;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
    text-shadow: none;
    color: #fff;
}

.login-or {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #33cc33;
}

.ui-input-text, .ui-input-text input, .ui-page-theme-a .ui-focus {
    padding: 0px 10px 3px 13px;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
}

.ui-input-text input::-moz-placeholder, 
.ui-input-search input::-moz-placeholder, 
textarea.ui-input-text::-moz-placeholder
{
    color: #33cc33;
    text-shadow: none;
    text-align: center;
}

.ui-input-text input::-webkit-input-placeholder,
.ui-input-search input::-webkit-input-placeholder,
textarea.ui-input-text::-webkit-input-placeholder
{
    color: #33cc33;
    text-shadow: none;
    text-align: center;
}

.ui-input-text input:-moz-placeholder,
.ui-input-search input:-moz-placeholder,
textarea.ui-input-text:-moz-placeholder
{
    color: #33cc33;
    text-shadow: none;
    text-align: center;
}

.ui-input-text input:-ms-input-placeholder,
.ui-input-search input:-ms-input-placeholder,
textarea.ui-input-text:-ms-input-placeholder
{
    color: #33cc33;
    text-shadow: none;
    text-align: center;
}

.login-btn {
    background: #33cc33 !important;
    color: #fff !important;
    text-shadow: none !important;
    border-radius: 2em;
    margin-top: 20px;
    padding: 10px !important;
}

.signup-btn {
    color: #33cc33 !important;
    text-shadow: none !important;
    padding: 10px !important;
    border-radius: 2em;
    border: 3px solid #33cc33 !important;
}

.ui-page-theme-a .ui-body-inherit {
	background: none;
	border: none; 
}

/* Menu Panel */
.panel-menu {
    background: #333333; color: #fff!important;
}

.panel-menu-header {
    background-color: #fff;
    width: 252px;
    height: 100px;
    background-image: url("../img/login-background.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-left: 20px;
    margin: -15px 0px 23px -16px;
}

.panel-menu-item {
    background: none !important;
    color: #fff !important;
    text-shadow: none !important;
    border: none !important;
    font-size: 12px;
    letter-spacing: 1px;
    
}

.overlayer {
    background: rgba(82, 163, 62, .4) !important;
    height: 140px;
    width: 273px;
    margin-top: -40px;
    margin-left: -21px;
    margin-bottom: -115px;
}

.panel-profile-picture {
    background: url('../img/profile_picture_default.png');
    -webkit-background-size:cover !important;
    background-size:cover !important;
    background-position: center;
    height: 80px;
    width: 80px;
    color: #FFF;
    border-radius: 1em;
    border: 4px solid #fff;
}

.panel-referal {
    color: #fff !important;
    text-decoration: none;
}

.panel-referal-label {
    text-shadow: none;
    font-weight: bold;
    font-size: 12px;
    margin-top: -50px;
    margin-left: 100px;
}

.panel-referal-code {
    text-shadow: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
}

.panel-referal-email {
    font-weight: unset;
    font-size: 12px;
    margin-top: 13px;
    text-shadow: none;
}


/* Home Page */
.home-header {
    -webkit-background-size:cover !important;
    background-size:cover !important;
    background-position: center;
    display:block;
    color: #FFF; 
    padding: 90px 20px 20px 20px;
}

.app-header-h1 {
    text-align: left!important;
    margin-left: 10px !important;
    margin-right: 35px !important;
}

.app-header-h2 {
    text-align: left!important;
    margin-left: 35px !important;
    margin-right: 35px !important;
}

.all-top-menu {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
    margin-top: 2px !important;
}

.all-header-backbtn::after {
    background-color: transparent !important;
}

.home-profile, .home-profile:hover, .home-profile:focus {
    text-align: center;
    color: #fff !important;
}

.home-profile-picture {
    background: url('../img/profile_picture_default.png');
    -webkit-background-size:cover !important;
    background-size:cover !important;
    background-position: center;
    height: 100px;
    width: 100px;
    color: #FFF;
    border-radius: 1em;
    border: 5px solid #fff;
}

.home-profile-name {
    float: left;
    text-align: left;
    margin-top: -70px;
    margin-left: 120px;
    text-shadow: none;
}

.home-profile-name-user {
    font-size: 20px;
}

.home-profile-name-address {
    font-size: 10px;
}

.home-profile-name-carnumber {
    font-weight: bold;
}

.home-schedule-title {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: center;
    color: #676767;
}

.hst-link {
    color: #676767 !important;
    text-decoration: none;
}

.home-schedule-carnumber {
    margin-bottom: 0px !important;
    font-weight: bold !important;
    margin-top: 0px !important;
}

.home-schedule-date {
    margin-top: 3px !important;
    margin-bottom: 0px !important;
}

.home-schedule-address {
    color: #767676;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.home-cs-image {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.home-schedule-link {
    padding-left: 5em !important;
}

.home-secondary-menu {
    background: #72B363;
    color: white;
    text-shadow: none;
    border: 1px solid #79BE69;
    font-size: 14px;
}

.home-secondary-menu-item {
    border-left: #A0E090 1px solid !important;
    height: 20px;
    color: #fff !important;
    text-decoration: none;
}

.home-secondary-menu-item:hover {
    background: #52A33E;
}

.home-secondary-menu-item:focus {
    background: #52A33E;
}



.home-secondary-menu_1 {
    background: #72B363;
    color: white;
    text-shadow: none;
    border: 1px solid #79BE69;
    font-size: 14px;
}

.home-secondary-menu-item_1 {
    border-right: #A0E090 1px solid !important;
    height: 20px;
    color: #fff !important;
    text-decoration: none;
}

.home-secondary-menu-item_1:hover {
    background: #52A33E;
}

.home-secondary-menu-item_1:focus {
    background: #52A33E;
}

















.home-footer-menu {
    height: 40px;
    padding-top: 10px;
}

.home-footer-menu-item {
    border-right: 1px solid #aaa;
}

.home-footer-menu-item_l {
    border-right: 1px solid #aaa;
}

.hfmi-link, .hfmi-link:focus {
    margin-left: auto !important;
    margin-right: auto !important;
    background: none !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    height: 30px;
    width: 30px;
    padding: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* My Car */
.mycars-title {
    font-size: 12px;
    font-weight: bold;
    color: #676767;
    border-bottom: #52A33E 3px solid;
    padding-bottom: 3px;
}

.mycars-link {
    color: #676767 !important;
    text-decoration: none;
    padding: 0px !important;
    text-shadow: none !important;
    color: #ddd !important;
}

.mycars-image {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-top: 140px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.mycars-carnumber {
    margin-bottom: 0px !important;
    font-weight: bold !important;
    margin-top: 2px !important;
}

.mycars-date {
    margin-bottom: 0px !important;
}

.mycars-address {
    color: #eee;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* Membership */
.deposit-title {
    font-size: 12px;
    font-weight: bold;
    color: #676767;
    border-bottom: #52A33E 3px solid;
    padding-bottom: 3px;
}

.deposit-link {
    color: #676767 !important;
    text-decoration: none;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border: none !important;
    text-shadow: none !important;
    color: #ddd !important;
    text-align: center !important;
}

.deposit-unlisted {
    max-width: 500px;
}

.deposit-list {
    margin-bottom: -0px !important;
}

.deposit-image {
	  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: -5px;
}

.deposit-image-item {
    width: 100%;
    max-width: 500px;
}

.deposit-link::after {
    background: none;
}

.deposit-date {
    padding-left: 30px;
    padding-right: 30px;
}

/* My Car */
.cd-date {
    background: #ebebeb;
}

.cd-title-logo, .cd-title-logo:focus {
    background: none !important;
    box-shadow: none !important;
    margin: 0;
    height: 1em;
    width: 1em;
    border-style: none;
}

.cd-title-logo::after {
    color: #aaa;
    background-color: transparent !important;
}

.cd-title-text {
    font-size: 13px;
    text-shadow: none;
    font-weight: bold;
    margin-top: -13px;
    margin-left: 22px;
    margin-bottom: 7px;
}

.cd-date-time {
    text-shadow: none;
}

.cddt-time {
    font-weight: bold;
    font-size: 37px;
    line-height: 25px;
    float: left;
    margin-right: 5px;
}

.cddt-date {
    float: left;
}

.cddt-date-date {
    font-size: 12px;
    line-height: 7px;
}

.cddt-date-year {
    font-size: 17.5px;
}

.cd-status {
    float: right;
    font-weight: bold;
    color: #52A33E;
    text-shadow: none;
}

.cd-status2 {
    float: right;
    font-weight: bold;
    color: #ff4433;
    text-shadow: none;
}

.cd-text {
    background: #D9D9D9;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}
.cd-subtext {
    font-weight: initial;
    font-size: 10px;
}

.cd-images {
    background: #e3e3e3;
    padding-bottom: 20px
}

.cdi-list {
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.cdi-list > li {
    list-style: none;
    display: inline;
}

/* News Feed */
.link-feed {
    text-decoration: none !important;
    color: #000 !important;
}

.feed {
    background: #fff;
    padding: 10px;
}

.feed-profile-image {
    -webkit-background-size:cover !important;
    background-size:cover !important;
    background-position: center;
    height: 40px;
    width: 40px;
    float: left;
}

.feed-image-item {
    width: 100%;
}

.feed-profile-id {
    padding-left: 50px;
    height: 40px;
}

.feed-profile-name {
    font-size: 14px;
}

.feed-profile-time {
    font-size: 12px;
}

.feed-news {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.feed-link {
    font-size: 10px;
    background: #eee;
    margin-bottom: 10px;
    padding: 5px;
    background: #52A33E;
    text-shadow: none;
    color: #ECEFF6;
}

/* Map Page */
.map {
    height: calc(100% - 75px);
}